{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>E-Shiksha Pie - Aspiring Your Minds</title>
  <link rel = "icon" href =  
  "{% static 'lms/images/logo2.png' %}" 
          type = "image/x-icon"> 
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Bootstrap core CSS -->
  <link href="{% static 'lms/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'lms/css/modern-business.css' %}" rel="stylesheet">

  <!-- Fontawesome css -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

  <style>
    *{
      font-family: 'Nunito', sans-serif;

    }
    html {
  height: 100%;
  box-sizing: border-box;
}
  #loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('/static/lms/loader/732.gif') no-repeat center;
    z-index: 99999;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AF2B26;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  body{
    padding-bottom: 6rem;
    position: relative;
    min-height: 100%;
  }

  footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  }
  
  .form-control-self{
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    border-radius: 0px!important;
    display: inline; 
    width: 70%;
  }
      .nav-item{
          margin-right: 14px!important;
      }
     .form-control-self:focus{
        outline: none!important;
        box-shadow: none!important;
        border: none!important;

      }


  </style>
{% block css %}
{% endblock %}
</head>

<body onload="load_function()">
  <div id="loading"></div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="font-size: 15x;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'lms/images/main-logo.png' %}" width="200" height="45" alt="">
          </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item">
            <a class="nav-link {% block home %} {% endblock %}" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block about %} {% endblock %}" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Courses
            </a>



            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio1">
              {% for names in category %}
              <a class="dropdown-item" href="{% url 'category_details' category_name=names.name %}">{{names.name}}</a>
              {% endfor %}
            </div>



          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Study Material
            </a>



            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio2">
              <a class="dropdown-item" href="{% url 'study_material' class_level=6 %}">Class VI</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=7 %}">Class VII</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=8 %}">Class VIII</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=9 %}">Class IX</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=10 %}">Class X</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=11 %}">Class XI</a>
              <a class="dropdown-item" href="{% url 'study_material' class_level=12 %}">Class XII</a>
           


            </div>



          </li>
<!--        
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Our Partners</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link {% block contact %} {% endblock %}" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">

      
            <a class="nav-link " href="{% url 'dashboard' %}">Dashboard</a>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'handle_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% block login %} {% endblock %}" href="{% url 'handle_login' %}">Login</a>
          </li>
          {% endif %}

         
          
        </ul>



       
        <form action="{% url 'search_result' slug='this is slug' %}" method="POST">
          {% csrf_token %}
          <i class="fas fa-search" style="color: rgb(128,128,128);"></i>
          <input type="text" name="search" id="search"  placeholder="Search" class="form-control form-control-self">
        </form>
      </div>
    </div>
  </nav>

   {% block body %}


  {% endblock %}

    <!-- Footer -->
    <footer class="py-3 footer" style="background-color: rgb(73, 0, 0);">
        <div class="container">
            
          <p class="m-0 text-center text-white"> Copyright &copy; <img src="{% static 'lms/images/logo2.png' %}" alt="" style="width: 100px; height: 62px;"> 2020</p>
        </div>
        <!-- /.container -->
      </footer>
    
      <!-- Bootstrap core JavaScript -->
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script src="{% static 'lms/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lms/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'lms/js/jqBootstrapValidation.js' %}"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init({
          duration:1000
        });
        var preloader = document.getElementById('loading');
        function load_function(){
          preloader.style.display = 'none';
        }
      </script>
    {% block js %}
    {% endblock %}
    </body>
    
    </html>