{% extends 'lms/base.html' %}
{% load static %}
{% block contact %}active{% endblock %}
{% block body %}
  <!-- Page Content -->
  <div class="container" >

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 pt-4">
    
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <img src="{% static 'lms/images/contact.jpg' %}"  style="height: 400px; width: 100%;" alt="">
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>
          House no. 1, HIG Duplex, Sanjay Nagar Sec-23
          <br>Ghaziabad. U.P - 201002
          <br>
        </p>
        <p>
          <span>Phone</span>: +91-9968352291
        </p>
        <p>
          <span>Email</span>:
          aktyagi2807@gmail.com
        </p>
       
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Send us a Message</h3>
        <form  id="contactForm" method="POST" action="{% url 'contact' %}" >
          {% csrf_token %}
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" name="message" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

 {% endblock %}
