{% extends 'lms/student_dashboard_layouts.html' %}
{% load static %}
{% block title %}Student Dashboard{% endblock %}
{% block dashboard %}active{% endblock %}
{% block body %}

    <!-- Begin Page Content -->
        <div class="container">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="padding-top: 25px;">Your Profile</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12 col-md-12 mb-4" data-aos="fade-up">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      {% if user.user_profile.image %}
                      <img src="{{user.user_profile.image}}" style="width: 110px; border-radius: 10px;" alt="">
                      {% else %}
                      <img src="{% static 'lms/images/shool-user.png' %}" style="width: 110px; border-radius: 10px;" alt="">
                      {% endif %}
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      

                      <div class="row mt-3">
                        <div class="col-lg-3 col-md-6 col-sm-6 d-none d-sm-block">
                          <h6 >Student ID</h6>
                          <h6>Student Name</h6>
                          <h6>Email</h6>
                          {% if user.user_profile.school_name %}
                          <h6>School</h6>
                          {% endif %}
                          <h6>Contact No.</h6>
                          <h6>Date of Birth</h6>
                          <h6>Address</h6>
                          <h6>State</h6>
                          <h6>City</h6>
                          <h6>Referral Code</h6>
                          <h6>Referral Points</h6>
                      
                          <h6>Last Redeem Date</h6>
                    
                          {% if user.user_profile.referred_by_code %}
                          <h6>Referred By</h6>
                          {% endif %}
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-6">
                          <h6>{{user.user_profile.student_id}}</h6>
                          <h6>{{user.first_name}} {{user.last_name}}</h6>
                          <h6>{{user.email}}</h6>
                          {% if user.user_profile.school_name %}
                          <h6>{{user.user_profile.school_name}}</h6>
                          {% endif %}
                         <h6> {{user.user_profile.phone}}</h6>
                         <h6> {{user.user_profile.dob}}</h6>
                         <h6> {{user.user_profile.address}}</h6>
                         <h6> {{user.user_profile.state}}</h6>
                         <h6> {{user.user_profile.city}}, {{user.user_profile.zip_code}}</h6>
                         <h6> {{user.user_profile.referral_code}}</h6>
                         <h6> {{user.user_profile.points}}</h6>
                         {% if user.user_profile.last_redeem_date %}
                         <h6> {{user.user_profile.last_redeem_date}}</h6>
                         {% else %}
                         <h6>N/A</h6>
                          {% endif %}
                         {% if user.user_profile.referred_by_code %}
                         <h6> {{referred_by_name}}</h6>
                          {% endif %}
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <img src="/media/{{user.user_profile.image_qr}}" style="width: 100px; border-radius: 10px;" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
          </div>
      </div>

{% endblock %}