{% extends 'lms/teacher-layout.html' %}
{% block title %}Teacher Dashboard{% endblock %}
{% block deactivate_subscription %}active{% endblock %}
{% block body %}

    <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1>Total Deactivate Requests</h1>
            <hr>
            
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Enroll Date</th>
                        <th>Deactivate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in enroll %}
                    <tr>
                        <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                        <td>{{student.user.email}}</td>
                        <td>{{student.user.user_profile.phone}}</td>
                        <td>{{student.date}}</td>
                        <td>
                            {% if student.status %}
                            
                            <a href="{% url 'confirm_deactivate_subscription' enroll_id=student.enroll_id %}" class="btn btn-danger">Confirm Deactivate Subscription</a>
                            <a href="{% url 'cancel_deactivate_subscription' enroll_id=student.enroll_id %}" class="btn btn-success">Cancel Request</a>

                            {% else %}
                            <button class="btn btn-secondary" disabled>Deactivated</a>

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
               
                </tbody>
            </table>
      </div>

  


{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}