{% extends 'lms/teacher_dashboard_layouts.html' %}
{% block title %}Teacher Dashboard{% endblock %}
{% block enroll_student %}active{% endblock %}
{% block body %}

    <!-- Begin Page Content -->

            <h1>Total Enrolled Students Details</h1>
            <hr>
            
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Enroll Date</th>
                        <th>Course Expiry Date</th>
                        <th>Deactivate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    {% if not student.request_status == 3 %}
                    <tr>
                        <td>{{student.student.first_name}} {{student.student.last_name}}</td>
                        <td>{{student.student.email}}</td>
                        <td>{{student.student.user_profile.phone}}</td>
                        <td>{{student.date}}</td>
                        <td>{{student.course_expiry_date}}</td>

                        <td>
                            {% if student.request_status == 1 %}
                            
                            <a href="{% url 'request_deactivate_subscription' enroll_id=student.enroll_id %}" class="btn btn-danger">Deactivate Subscription</a>
                            {% else %}
                            <button class="btn btn-secondary" disabled>Waiting For Approval</button>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
               
                </tbody>
            </table>

  


{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}