{% extends 'lms/teacher-layout.html' %}
{% block title %}Teacher Dashboard{% endblock %}
{% block dashboard %}active{% endblock %}
{% block body %}

    <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="padding-top: 25px;">Your Profile</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12 col-md-12 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <img src="/media/{{user.instructor.image}}" style="width: 200px; border-radius: 10px;" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      

                      <div class="row mt-3">
                        <div class="col-lg-2 col-md-6 col-sm-6 d-none d-sm-block">
                          <h5 >Teacher ID</h5>
                          <h5>Teacher Name</h5>
                          <h5>Email</h5>
                          <h5>Contact No.</h5>
                          <h5>Date of Birth</h5>
                          <h5>Address</h5>
                          <h5>State</h5>
                          <h5>City</h5>
                         
                        </div>
                        <div class="col-lg-10 col-md-6 col-sm-6">
                          <h5>{{user.instructor.instructor_id}}</h5>
                          <h5>{{user.first_name}} {{user.last_name}}</h5>
                          <h5>{{user.email}}</h5>
                         <h5> {{user.instructor.phone}}</h5>
                         <h5> {{user.instructor.dob}}</h5>
                         <h5> {{user.instructor.address}}</h5>
                         <h5> {{user.instructor.state}}</h5>
                         <h5> {{user.instructor.city}}, {{user.instructor.zip_code}}</h5>
                    
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                      <img src="/media/{{user.instructor.image_qr}}" style="width: 260px; border-radius: 10px;" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
          </div>
      </div>

{% endblock %}