{% extends 'lms/base.html' %}
{% load static %}

{% block body %}

<div class="container pt-5 pb-3">

    <h2>Rules and Regulations</h2>
    <hr>

    <ol>

        <li>In case, if the teacher feels that the student is not working hard and is creating
            indiscipline in the live classes then he/she may be expelled
            from the Course. </li>
        <li>No fee will be refunded in this case.</li>
        <li>Fees once paid cannot be refunded under any circumstances. This cannot be 
            adjusted from any other course or fee. No request will be entertained in this regard.</li>
        <li>Incomplete forms will be rejected. It is compulsory for a student to enter complete Current Details with a photograph at the time of registration.</li>
        <li>If for any reason, the candidate discontinues the course, he/she will not be refunded under any circumstances and no fees will adjusted on other courses.</li>
        <li>ESHIKSHAPIE reserves the full rights to make any alterations in its fees/programs/venue 
            without any prior notice to anybody.</li>
        <li>In all disputes the decision of the Director will be final.</li>



    </ol>
    <hr>

    <h2>Terms and Conditions</h2>
    <hr>

    <p>Eshikshapie Content utilized on the eshikshapie Platform which shall include but not be limited to trademarks, service marks and logos (“Marks”), process, images, software, graphics are owned by or licensed to eshikshapie and subject to copyright and other intellectual property rights under the law.</p>

    <p>You agree not to circumvent, disable or otherwise interfere with security-related features of the Eshikshapie Platform or features that prevent or restrict use or copying of any User Content or enforce limitations on use of the Eshikshapie Platform or the User Content therein.</p>

    <p>You understand that when using the Eshikshapie Platform, you will be exposed to User Content from variety of sources and by different Users, and that Eshikshapie is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User Content. You further understand and acknowledge that you may be exposed to User Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Eshikshapie with respect thereto, and, to the extent permitted by applicable law, agree to indemnify and hold harmless Eshikshapie, its owners, operators, affiliates, licensors, and licensees to the fullest extent allowed by law regarding all matters related to your use of the Eshikshapie Platform</p>

    <p>In order to access some of the features of the Eshikshapie Platform, you may have to create your account with Eshikshapie. You agree and confirm that you will  never use another User’s account nor provide access to your account to any third-party. When creating your account, you confirm that the information so provided is accurate and complete. Further, you agree that you are solely responsible for the activities that occur on your account, and you shall keep your account password secure and not share the same with anyone. You must notify Eshikshapie immediately of any breach of security or unauthorized use of your account. At no point in time will Eshikshapie be liable for any losses caused by any unauthorized use of your account, you shall solely be liable for the losses caused to Eshikshapie or others due to such unauthorized use, if any.</p>

    <p>Eshikshapie takes no responsibility for any User Content that is uploaded on the Eshikshapie Platform, and further, the User shall be solely responsible for his or her own actions in utilizing such User Content and availing the Eshikshapie Platform provided herein.</p>

    <p>You agree to receive installs and updates from time to time from Eshikshapie. These updates are designed to improve, enhance and further develop the Eshikshapie Platform and may take the form of bug fixes, enhanced functions, new software modules and completely new versions. You agree to receive such updates (and permit Eshikshapie to deliver these to you) as part of your use of the Eshikshapie Platform.</p>


</div>


{% endblock %}