{% extends 'lms/base.html' %}

{% block css %}

<style>

.content-desc{
    width: 100%!important;
    height: 100%;
    background-color: #ffff;
    overflow-y: scroll;
}
.content-desc ul{
    list-style: none;
    margin-right: 50px;
}
.content-desc ul li a{
    color: #000000;

    font-weight: bold;
    text-decoration: none;
}
.content-desc ul li a:hover{
    border: none;
}

.content-desc ul li{
    margin: 20px 0px;
    
    padding: 10px;
    width: 100%;
}
.content-desc ul li:hover{
    padding: 10px;
    background-color:#EFEFF0;
}
.active-self{
    background-color:#EFEFF0;
    padding:10px;
}
.active-self:hover{
    background-color:#ffffff;
    padding:10px;
}
.self-class:hover{
    text-decoration: none;
    color: rgb(54, 2, 54);
}
.self-class{
    color: rgb(54, 2, 54);
}
    </style>

{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row pt-5">
        <div class="col-8">
            <iframe width="100%" height="730px" class="p-3" src="{{current_video.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 content-desc">
            <h2 class="text-center mt-5" style="background-color: #EFEFF0; padding:20px;">{{subject.course.course_name}}</h2>
            <h5 class="text-center mt-2" style="background-color: #EFEFF0; padding:20px;">Subject : {{subject.subject_name}}</h5>
            <ul>
                {% for video in videos %}
                {% if current_video.id == video.id %}
                <li class="active-self"><a href="{% url 'video_playlist' course_name=subject.course.course_name course_id=subject.course.id video_id=video.id subject_id=subject.id %}"><i class="fas fa-play-circle"></i> {{video.title}}</a></li>
                {% else %}
                <li class=""><a href="{% url 'video_playlist' course_name=subject.course.course_name course_id=subject.course.id video_id=video.id subject_id=subject.id %}"><i class="fas fa-play-circle"></i> {{video.title}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>

<div class="container-fluid pl-5 pr-5 pt-3 pb-5">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left self-class" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Overview
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{current_video.description}}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed self-class" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Resources
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              {% if current_video.resources %}
              <a href="{{current_video.resources}}" class="btn btn-primary" download>Download Resources</a>
              {% else %}
              <h4>No Resource Available</h4>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed self-class" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q&A
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
             <h3>POST YOUR QUESTIONS</h3>
              <form action="{% url 'question_answer' course_name=subject.course.course_name course_id=subject.course.id video_id=current_video.id subject_id=subject.id %}" method="POST" class="my-4">
                {% csrf_token %}
                <input type="text" class="form-control" name="question" placeholder="Enter Your Question">
                <button type="submit" class="btn btn-danger mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
             

{% endblock %}