{% extends 'lms/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="container text-center my-5">

    <h1>Reset Your Password</h1>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <hr>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the
        address you registered with.</p>
        <p>Now you can close this page</p>

        <a href="{% url 'index' %}" class="btn btn-info">Go to Home</a>
        
    </div>
{% endblock %}