{% extends 'lms/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="container text-center my-5 pt-5">

    <h1 class="my-4">Forgotten your password?</h1>
    <form action="." method="POST" class="">
        {{ form.as_p }}
      <input type="submit" class="btn btn-primary mt-2" value="Send">
        {% csrf_token %}
    </form>
    
</div>
{% endblock %}

{% block js %}

<script>
    var id_email = document.getElementById('id_email');
    var label = document.getElementsByTagName('label');
    
    id_email.className = 'form-control w-50 text-center';
    document.getElementById('id_email').placeholder = 'Enter your Email'
    id_email.style.marginLeft='288px'
 
    


</script>

{% endblock %}