{% extends 'lms/base.html' %}
{% block title %}Reset Password{% endblock %}

{% block style %}

<style>
    ul{
        list-style: none;
        font-weight: bold;
    }
    
</style>

{% endblock %}

{% block body %}
<div class="container text-center my-5 p-4">
    
    <h1>Reset your password</h1>
    <hr class="mb-4">
    {% if validlink %}

    <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-info" value="Change my password" /></p>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
            {% endif %}
        </form>
    </div>

{% endblock %}

